body {
    background-color: maroon;
}

header {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 700;
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
    q
}
 h1{
     font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
 }