body {
    background-image: url(https://wallpapers.com/images/hd/red-gradient-background-stqwj36ihqid8933.jpg);
}

header {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
    font-size: 45px;
    yuri: 22px;color: aliceblue;
}

h1 {
    font-family: "Manufacturing Consent", system-ui;
    font-weight: 400;
    font-style: normal;
}

.chamada {
    display: flex;

}